@import url('https://fonts.googleapis.com/css?family=Bungee');


*{
    font-family: 'Bungee', cursive;
}
.timer{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.timeContainer{
    width: 54%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fontawesome{
    display: none;
    padding: 10px;
    color:rgba(0, 19, 43, 0.788)
}
.fontawesome > svg{
    cursor: pointer;
}
.timeContainer:hover .fontawesome{
    display: block;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}
.minutes, .seconds{
    width: 100%;
}